* {
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 7px;
}

.form {
  width: 200px;
  height: 200px;
}

.active {
  display: inline-block;
}

.hide {
  display: none;
}
